@import "reset.css";

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 10, 10);
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;

  background-color: #444;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 70em;
}

.logo { margin-left: 4em; }

/* ======================== nav */
.nav-menu {
  display: flex;
  justify-content: flex-end;

  margin-right: 3em;
}
.nav-menu__block {
  position: relative;

  text-align: center;
}
.nav-menu__form {
  padding: 16px;
}
.nav-menu__form input {

  color: #666;
  border: none;
  background-color: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .3s;
} 
.nav-menu__form input:hover {
  color: #fff;
}
.nav-menu__list {
  display: none;

  width: 100%;
  box-sizing: border-box;
  padding: 1em  1.4em;

  list-style-type: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 8%);
}
.nav-menu__list li {padding: 0.6em;}
.nav-menu__list a {text-decoration: none; color: #111;}


/* ================= gallery area */
.main {
  display: grid;
  grid-template-columns: repeat(3, 22em);
  justify-content: center;
  justify-items: center;
}
.gallery {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  
  width: 80%;
  height: 100%;

  background-color: rgb(29, 29, 29);
}
.art-wrap {

  max-width: 60;
  height: 360px;
  margin: 3em auto;

  background-color: #777;
}
.art-wrap:hover {
  transform: perspective(400px) rotateY(180deg);
}